*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both;
}

.center {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    background: rgb(255, 125, 74);
    padding: 15px 0 30px;
}

.logo {
    float: left;
    color: white;
    font-size: 20px;
    ont-size: 18px;
    font-weight: 600;
}

nav {
    float: right;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
}

.chamada {
    text-transform: uppercase;
    text-align: center;
    padding: 30px 15px;
    background-color: rgba(233, 83, 14, 0.979);
    border-top: solid 3px white;


}
.chamada h2 {

    text-align: center;
    display: inline-block;
    color: white;
}

.principal {
    padding: 40px 0;
}

.principal h3 {
    color: #4b4b4b;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}

.sobre p {
    color: #4b4b4b;
    font-size: 16px
}

.contato input[type = text] {
    width: 100%;
    max-width: 600px;
    height: 40px;
    padding-left: 8px;
    display: block;
    border: solid 2px rgb(223, 81, 38);
    border-radius: 4px;
}

.contato textarea {
    width: 100%;
    max-width: 600px;
    height: 120px;
    padding:8px;
    margin-top: 16px;
    display: block;
    border: solid 2px rgb(223, 81, 38);
    border-radius: 4px;
}

.contato input[type=submit]{
	width: 100px;
	height: 40px;
	border: 0;
	background: rgb(223, 81, 38);
	color: white;
	cursor: pointer;
	margin-top: 8px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.192);

}

.alerta{
	margin:10px 0;
	border-left: 4px solid #4b4b4b;
	background: rgb(225,225,225);
	padding: 8px;
}

.alerta h3{
	font-size: 18px;
	font-weight: normal;
	color: #4b4b4b;
}